body {
  margin: 0;
  padding: 0;
  background-color: turquoise;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.eug-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.eug-background {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.eug-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.eug-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.titre-projet {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 130px 0 44px;
}

.vacs-content {
  display: flex;
  justify-content: space-evenly;
}

.vac-vid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vac-vid iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid yellow;
}

.vac-perf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vac-perf img {
  max-width: 400px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid yellow;
}

@keyframes wave {
  from {
    transform: translateY(0);
    color: turquoise;
  }
  to {
    transform: translateY(-90px);
  }
}
@keyframes wavemiddle {
  from {
    transform: translateY(0);
    color: white;
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes wavesmall {
  from {
    transform: translateY(0);
    color: white;
  }
  to {
    transform: translateY(-20px);
  }
}
.wavetext {
  margin-top: 150px;
}

.wavetext span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  animation-duration: 4s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-wave span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  animation-duration: 4s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tititre span, .tititre2 span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  animation-duration: 4s;
  animation-name: wavesmall;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wavetext :nth-child(40n+0) {
  animation-delay: -8s;
  color: #640a0a;
}

.titre-wave :nth-child(40n+0) {
  animation-delay: -8s;
  color: #c8ff0a;
}

.tititre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #c8ff0a;
}

.tititre2 :nth-child(40n+0) {
  animation-delay: -8s;
  color: #c8ff0a;
}

.wavetext :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #780a32;
}

.titre-wave :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #dcff32;
}

.tititre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #dcff32;
}

.tititre2 :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #dcff32;
}

.wavetext :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #8c0a23;
}

.titre-wave :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #f0ff23;
}

.tititre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #f0ff23;
}

.tititre2 :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #f0ff23;
}

.wavetext :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #a00a14;
}

.titre-wave :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #ffff14;
}

.tititre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #ffff14;
}

.tititre2 :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #ffff14;
}

.wavetext :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #b40a3c;
}

.titre-wave :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #ffff3c;
}

.tititre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #ffff3c;
}

.tititre2 :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #ffff3c;
}

.wavetext :nth-child(40n+5) {
  animation-delay: -7s;
  color: #c80a2d;
}

.titre-wave :nth-child(40n+5) {
  animation-delay: -7s;
  color: #ffff2d;
}

.tititre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #ffff2d;
}

.tititre2 :nth-child(40n+5) {
  animation-delay: -7s;
  color: #ffff2d;
}

.wavetext :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #dc0a1e;
}

.titre-wave :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #ffff1e;
}

.tititre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #ffff1e;
}

.tititre2 :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #ffff1e;
}

.wavetext :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #f00a0f;
}

.titre-wave :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #ffff0f;
}

.tititre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #ffff0f;
}

.tititre2 :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #ffff0f;
}

.wavetext :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #690a37;
}

.titre-wave :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #ffff37;
}

.tititre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #ffff37;
}

.tititre2 :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #ffff37;
}

.wavetext :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #7d0a28;
}

.titre-wave :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #ffff28;
}

.tititre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #ffff28;
}

.tititre2 :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #ffff28;
}

.wavetext :nth-child(40n+10) {
  animation-delay: -6s;
  color: #910a19;
}

.titre-wave :nth-child(40n+10) {
  animation-delay: -6s;
  color: #ffff19;
}

.tititre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #ffff19;
}

.tititre2 :nth-child(40n+10) {
  animation-delay: -6s;
  color: #ffff19;
}

.wavetext :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #a50a0a;
}

.titre-wave :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #ffff0a;
}

.tititre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #ffff0a;
}

.tititre2 :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #ffff0a;
}

.wavetext :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #b90a32;
}

.titre-wave :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #ffff32;
}

.tititre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #ffff32;
}

.tititre2 :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #ffff32;
}

.wavetext :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #cd0a23;
}

.titre-wave :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #cdff23;
}

.tititre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #cdff23;
}

.tititre2 :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #cdff23;
}

.wavetext :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #e10a14;
}

.titre-wave :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #e1ff14;
}

.tititre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #e1ff14;
}

.tititre2 :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #e1ff14;
}

.wavetext :nth-child(40n+15) {
  animation-delay: -5s;
  color: #f50a3c;
}

.titre-wave :nth-child(40n+15) {
  animation-delay: -5s;
  color: #f5ff3c;
}

.tititre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #f5ff3c;
}

.tititre2 :nth-child(40n+15) {
  animation-delay: -5s;
  color: #f5ff3c;
}

.wavetext :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #6e0a2d;
}

.titre-wave :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #ffff2d;
}

.tititre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #ffff2d;
}

.tititre2 :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #ffff2d;
}

.wavetext :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #820a1e;
}

.titre-wave :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #ffff1e;
}

.tititre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #ffff1e;
}

.tititre2 :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #ffff1e;
}

.wavetext :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #960a0f;
}

.titre-wave :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #ffff0f;
}

.tititre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #ffff0f;
}

.tititre2 :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #ffff0f;
}

.wavetext :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #aa0a37;
}

.titre-wave :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #ffff37;
}

.tititre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #ffff37;
}

.tititre2 :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #ffff37;
}

.wavetext :nth-child(40n+20) {
  animation-delay: -4s;
  color: #be0a28;
}

.titre-wave :nth-child(40n+20) {
  animation-delay: -4s;
  color: #ffff28;
}

.tititre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #ffff28;
}

.tititre2 :nth-child(40n+20) {
  animation-delay: -4s;
  color: #ffff28;
}

.wavetext :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #d20a19;
}

.titre-wave :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #ffff19;
}

.tititre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #ffff19;
}

.tititre2 :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #ffff19;
}

.wavetext :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #e60a0a;
}

.titre-wave :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #ffff0a;
}

.tititre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #ffff0a;
}

.tititre2 :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #ffff0a;
}

.wavetext :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #fa0a32;
}

.titre-wave :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #ffff32;
}

.tititre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #ffff32;
}

.tititre2 :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #ffff32;
}

.wavetext :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #730a23;
}

.titre-wave :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #ffff23;
}

.tititre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #ffff23;
}

.tititre2 :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #ffff23;
}

.wavetext :nth-child(40n+25) {
  animation-delay: -3s;
  color: #870a14;
}

.titre-wave :nth-child(40n+25) {
  animation-delay: -3s;
  color: #ffff14;
}

.tititre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #ffff14;
}

.tititre2 :nth-child(40n+25) {
  animation-delay: -3s;
  color: #ffff14;
}

.wavetext :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #9b0a3c;
}

.titre-wave :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #d2ff3c;
}

.tititre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #d2ff3c;
}

.tititre2 :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #d2ff3c;
}

.wavetext :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #af0a2d;
}

.titre-wave :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #e6ff2d;
}

.tititre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #e6ff2d;
}

.tititre2 :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #e6ff2d;
}

.wavetext :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #c30a1e;
}

.titre-wave :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #faff1e;
}

.tititre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #faff1e;
}

.tititre2 :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #faff1e;
}

.wavetext :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #d70a0f;
}

.titre-wave :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #ffff0f;
}

.tititre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #ffff0f;
}

.tititre2 :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #ffff0f;
}

.wavetext :nth-child(40n+30) {
  animation-delay: -2s;
  color: #eb0a37;
}

.titre-wave :nth-child(40n+30) {
  animation-delay: -2s;
  color: #ffff37;
}

.tititre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #ffff37;
}

.tititre2 :nth-child(40n+30) {
  animation-delay: -2s;
  color: #ffff37;
}

.wavetext :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #640a28;
}

.titre-wave :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #ffff28;
}

.tititre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #ffff28;
}

.tititre2 :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #ffff28;
}

.wavetext :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #780a19;
}

.titre-wave :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #ffff19;
}

.tititre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #ffff19;
}

.tititre2 :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #ffff19;
}

.wavetext :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #8c0a0a;
}

.titre-wave :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #ffff0a;
}

.tititre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #ffff0a;
}

.tititre2 :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #ffff0a;
}

.wavetext :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #a00a32;
}

.titre-wave :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #ffff32;
}

.tititre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #ffff32;
}

.tititre2 :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #ffff32;
}

.wavetext :nth-child(40n+35) {
  animation-delay: -1s;
  color: #b40a23;
}

.titre-wave :nth-child(40n+35) {
  animation-delay: -1s;
  color: #ffff23;
}

.tititre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #ffff23;
}

.tititre2 :nth-child(40n+35) {
  animation-delay: -1s;
  color: #ffff23;
}

.wavetext :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #c80a14;
}

.titre-wave :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #ffff14;
}

.tititre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #ffff14;
}

.tititre2 :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #ffff14;
}

.wavetext :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #dc0a3c;
}

.titre-wave :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #ffff3c;
}

.tititre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #ffff3c;
}

.tititre2 :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #ffff3c;
}

.wavetext :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #f00a2d;
}

.titre-wave :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #ffff2d;
}

.tititre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #ffff2d;
}

.tititre2 :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #ffff2d;
}

.wavetext :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #690a1e;
}

.titre-wave :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #d7ff1e;
}

.tititre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #d7ff1e;
}

.tititre2 :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #d7ff1e;
}

@media only screen and (max-width: 900px) {
  .eug-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .eug-background {
    width: 152%;
    position: fixed;
  }
}

/*# sourceMappingURL=output.css.map */
