body {
  margin: 0;
  padding: 0;
  background-color: #00b9e8;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #20ff02;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: #20ff02;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "flames";
  src: url("./assets/flaming_tears.ttf") format("truetype");
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: #00b9e8;
  z-index: 99;
  text-align: center;
}

#loading-image {
  width: 100px;
  margin-top: 200px;
  z-index: 100;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  50% {
    visibility: hidden;
  }
}
@keyframes blink {
  50% {
    visibility: hidden;
  }
}
.eug-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.eug-background {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.eug-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.eug-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
}

.eug-menu .tab {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
}

.tab > * {
  padding: 20px;
}

.tab button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* line-height: 25px; */
  /* width: 100%; */
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
  color: #20ff02;
}

.tab button:hover {
  text-decoration: underline;
}

.tab button.active {
  text-decoration: underline;
  font-style: bold;
}

.titre-projet {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 90px 0 44px;
}

.vacs-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 25px;
}

.vac-vid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.vac-vid iframe {
  border-radius: 15px;
  border: 1px solid #20ff02;
}

.vac-perf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vac-perf img {
  max-width: 400px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.hier-video {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hier-vid iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #20ff02;
  max-width: 370px;
}

.hier-vid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hier-vid-capt {
  max-width: 370px;
  font-size: 12px;
  color: #20ff02;
}

.vieille-fille {
  display: flex;
  justify-content: center;
  margin: 130px 0 0 0;
}

.vieille-fille-img {
  max-width: 400px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.vieille-fille-img-2 {
  max-height: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.vieille-images-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vieille-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.vieille-caption {
  max-width: 650px;
  margin: auto;
}

.vieille-texte {
  max-width: 650px;
  padding: 50px;
  font-size: 20px;
  margin: auto;
}

.writing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-titre {
  margin: 100px 0 20px 0;
}

.writing-images img {
  max-width: 400px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.writing-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.unbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unbox-titre {
  margin: 100px 0 20px 0;
}

.unbox-imgs img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.unbox-imgs img:nth-child(2) {
  height: 300px;
}

.unbox-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.unbox-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 15px;
  margin: auto;
}

.tablecloth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablecloth-titre {
  margin: 100px 0 20px 0;
}

.tablecloth-imgs img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.tablecloth-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.tablecloth-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 15px;
  margin: auto;
}

.moyenne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moyenne-titre {
  margin: 100px 0 10px 0;
}

.moyenne-imgs img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #20ff02;
}

.moyenne-captures, .moyenne-zoom, .moyenne-space {
  display: flex;
  flex-direction: column;
}

.moyenne-captures img {
  max-width: 200px;
}

.moyenne-captures span, .moyenne-zoom span, .moyenne-space span {
  margin-left: 20px;
}

.moyenne-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.moyenne-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 15px;
  margin: auto;
}

.ep {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 70px;
}

.ep-titre {
  margin: 100px 0 20px 0;
}

.ep-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 15px;
  margin: auto;
}

.ep iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #20ff02;
  min-width: 560px;
  min-height: 320px;
}

@keyframes wave {
  from {
    transform: translateY(0);
    color: #20ff02;
  }
  to {
    transform: translateY(-90px);
  }
}
@keyframes wavemiddle {
  from {
    transform: translateY(0);
    color: #20ff02;
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes wavesmall {
  from {
    transform: translateY(0);
    color: #20ff02;
  }
  to {
    transform: translateY(-20px);
  }
}
.wavetext {
  margin-top: 130px;
}

.wavetext span {
  display: inline-block;
  font-family: "flames";
  font-size: 65px;
  animation-duration: 4s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-wave span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  animation-duration: 4s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre2-wave span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  animation-duration: 4s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tititre span, .tititre2 span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  animation-duration: 4s;
  animation-name: wavesmall;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-hier span, .titre-hier2 span, .titre-hier3 span, .titre-hier4 span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  animation-duration: 4s;
  animation-name: wavesmall;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vieille-fille span, .writing-titre span, .unbox-titre span, .tablecloth-titre span, .moyenne-titre span, .ep-titre span {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  animation-duration: 4s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wavetext :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.tititre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+0) {
  animation-delay: -8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+1) {
  animation-delay: -7.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+2) {
  animation-delay: -7.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+3) {
  animation-delay: -7.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+4) {
  animation-delay: -7.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.tititre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+5) {
  animation-delay: -7s;
  color: #20ff02;
}

.wavetext :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+6) {
  animation-delay: -6.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+7) {
  animation-delay: -6.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+8) {
  animation-delay: -6.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+9) {
  animation-delay: -6.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.tititre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+10) {
  animation-delay: -6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+11) {
  animation-delay: -5.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+12) {
  animation-delay: -5.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+13) {
  animation-delay: -5.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+14) {
  animation-delay: -5.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.tititre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+15) {
  animation-delay: -5s;
  color: #20ff02;
}

.wavetext :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+16) {
  animation-delay: -4.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+17) {
  animation-delay: -4.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+18) {
  animation-delay: -4.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+19) {
  animation-delay: -4.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.tititre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+20) {
  animation-delay: -4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+21) {
  animation-delay: -3.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+22) {
  animation-delay: -3.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+23) {
  animation-delay: -3.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+24) {
  animation-delay: -3.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.tititre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+25) {
  animation-delay: -3s;
  color: #20ff02;
}

.wavetext :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+26) {
  animation-delay: -2.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+27) {
  animation-delay: -2.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+28) {
  animation-delay: -2.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+29) {
  animation-delay: -2.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.tititre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+30) {
  animation-delay: -2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+31) {
  animation-delay: -1.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+32) {
  animation-delay: -1.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+33) {
  animation-delay: -1.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+34) {
  animation-delay: -1.2s;
  color: #20ff02;
}

.wavetext :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.tititre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+35) {
  animation-delay: -1s;
  color: #20ff02;
}

.wavetext :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.tititre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+36) {
  animation-delay: -0.8s;
  color: #20ff02;
}

.wavetext :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.tititre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+37) {
  animation-delay: -0.6s;
  color: #20ff02;
}

.wavetext :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.tititre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+38) {
  animation-delay: -0.4s;
  color: #20ff02;
}

.wavetext :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre-wave :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.tititre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.tititre2 :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre2-wave :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre-hier :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre-hier2 :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre-hier3 :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.titre-hier4 :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.vieille-fille :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.writing-titre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.unbox-titre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.tablecloth-titre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.moyenne-titre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

.ep-titre :nth-child(40n+39) {
  animation-delay: -0.2s;
  color: #20ff02;
}

@media only screen and (max-width: 900px) {
  .eug-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .eug-background {
    width: 152%;
    position: fixed;
  }
}

/*# sourceMappingURL=output.css.map */
