

body { margin:0;
  padding: 0;
  background-color: turquoise;
  // background-image: url(./assets/fond-vierge.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  
  ; }

  button:focus {outline:0;}
a {
    text-decoration: none;
    color: black;
}
ul {
  list-style: none;
}
.eug-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.eug-background {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.eug-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.eug-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.titre-projet {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 130px 0 44px;
}
.vacs-content {
  display: flex;
  justify-content: space-evenly;
}
.vac-vid {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.vac-vid iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid yellow;
}

.vac-perf {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.vac-perf img {
max-width: 400px;
margin: 20px;
border-radius: 15px;
border: 1px solid yellow;
}

$offset : -90px;
$count : 40;
$duration : 4;


@keyframes wave {
  from { transform : translateY(0); color: turquoise; }
  to   { transform : translateY( $offset ); }
}

@keyframes wavemiddle {
  from { transform : translateY(0); color: white; }
  to   { transform : translateY( -40px ); }
}

@keyframes wavesmall {
  from { transform : translateY(0); color: white; }
  to   { transform : translateY( -20px ); }
}

.wavetext  {
   margin-top: 150px;
  //   text-align: left;
  //   margin-left: 50px;
}


.wavetext span {
  display: inline-block;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 75px;
 
  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-wave span{
  display: inline-block;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 30px;
 
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tititre span, .tititre2 span{
  display: inline-block;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 20px;
 
  animation-duration: #{$duration}s;
  animation-name: wavesmall;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
      animation-delay : 
        -#{($count - $i) * 2 * $duration / $count }s;


      color: rgba(100+$i * 20 % 155, 10, 10+ $i * 40 % 55, 1000);
  }
  .titre-wave :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
    color: rgba(200+$i * 20 % 255, 500, 10+ $i * 40 % 55, 1000);
}
.tititre :nth-child( #{$count}n + #{$i} ) {
  animation-delay : 
    -#{($count - $i) * 2 * $duration / $count }s;
    color: rgba(200+$i * 20 % 255, 500, 10+ $i * 40 % 55, 1000);
}
.tititre2 :nth-child( #{$count}n + #{$i} ) {
  animation-delay : 
    -#{($count - $i) * 2 * $duration / $count }s;
    color: rgba(200+$i * 20 % 255, 500, 10+ $i * 40 % 55, 1000);
}
 
}


@media only screen and (max-width: 900px) {
  .eug-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .eug-background {
    width: 152%;
    position: fixed;
  }
}