

body { background-color : lightblue;
  ; }

$offset : -90px;
$count : 40;
$duration : 4;


@keyframes wave {
  from { transform : translateY(0); color: white; }
  to   { transform : translateY( $offset ); }
}

.wavetext , .wavetext2, .wavetext3 {
  margin-top : 10em;
  text-align : center;
}


.wavetext span , .wavetext2 span, .wavetext3 span{
  display: inline-block;
  font-family : "Helvetica", sans-serif;
  font-size : 15px;
 
  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
      animation-delay : 
        -#{($count - $i) * 2 * $duration / $count }s;


      color: rgba(10+$i * 20 % 155, 100, 10+ $i * 40 % 55, 1000);
  }
  .wavetext2 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;


    color: rgba(10+$i * 20 % 155, 100, 10+ $i * 40 % 55, 1000);
}
.wavetext3 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;


    color: rgba(10+$i * 20 % 155, 100, 10+ $i * 40 % 55, 1000);
}
}


