

body { margin:0;
  padding: 0;
  background-color: turquoise;
  // background-image: url(./assets/fond-vierge.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  overflow: hidden;
  
  ; }

  button:focus {outline:0;}
a {
    text-decoration: none;
    color: black;
}
ul {
  list-style: none;
}
.eug-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.eug-background {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.eug-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.eug-menu {
  font-family: helvetica;
    font-size: 24px;
    line-height: 31px;
}

$offset : -90px;
$count : 40;
$duration : 4;


@keyframes wave {
  from { transform : translateY(0); color: white; }
  to   { transform : translateY( $offset ); }
}

.wavetext  {
   margin-top: 150px;
  //   text-align: left;
  //   margin-left: 50px;
}


.wavetext span {
  display: inline-block;
  font-family : "Helvetica", sans-serif;
  font-size : 75px;
 
  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
      animation-delay : 
        -#{($count - $i) * 2 * $duration / $count }s;


      color: rgba(10+$i * 20 % 155, 100, 10+ $i * 40 % 55, 1000);
  }
 
}


