

body { margin:0;
  padding: 0;
  background-color: #00b9e8;
  // background-image: url(./assets/fond-vierge.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  overflow: hidden;
  font-family: "Times New Roman";
  color:  #0000EE;
  cursor: url("./assets/goutte-sang.png"), default;
  ; }

  button:focus {outline:0;}
a {
    text-decoration: underline;
    color:  #0000EE;
    cursor: url("./assets/goutte-sang.png"), default;
}
a:hover {
  color:  rgb(32, 255, 2);
  text-decoration: underline;
  cursor: url("./assets/goutte-sang.png"), default;
}
ul {
  list-style: none;
}

@font-face {
  font-family: 'flames';
  src: url('./assets/Zapfino.ttf')  format('truetype'), /* Safari, Android, iOS */
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color:#00b9e8;
  z-index: 99;
  text-align: center;
}
#loading-image {
 width: 100px;
 margin-top: 200px;
  z-index: 100;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}

 
        /* modal here for artists */

.modal {
  position: fixed;
  z-index: 11;
  height: calc(100% - 54px);
  top: 0;
  width: 100%;
  left: 0;
  display: none;
}

.modal.open {
  display: flex;
}

.modal {
  background-color: #00b9e8;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
}


.modal-1 img
{
  max-width: 28vw;
}

.modal-2 img,
.modal-5 img,
.modal-14 img
 {
  max-width: 65vw;
}

.modal-3 img,
.modal-4 img,
.modal-6 img, 
.modal-7 img, 
.modal-8 img,
.modal-9 img,
.modal-10 img,
.modal-11 img, 
.modal-12 img,
.modal-13 img,
.modal-15 img,
.modal-16 img
 {
  max-width: 36vw;
}




.eug-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.eug-background {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
 position: fixed;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(3.5);
}

.eug-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.eug-menu {
  font-family: "Times New Roman";
  font-size: 25px;
  line-height: 25px;
  width: 100%;
  margin-top: 35px;
}

.eug-menu .tab {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
}

.tab > * {
  padding: 20px;
}

.tab button {
  font-family: "Times New Roman";
  font-size: 18px;
  /* line-height: 25px; */
  /* width: 100%; */
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;

  }

.tab button:hover {
 color: turquoise;
 cursor: url("./assets/goutte-sang.png"), default;
}
.tab button.active {
  color: turquoise;
}

.titre-projet {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 50px 0 44px;
}
.vacs-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
    margin-top: 25px;
}
.vac-vid {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.vac-vid iframe {
  border-radius: 15px;
  border: 1px solid rgb(32, 255, 2);
}
iframe:hover {
  cursor: url("./assets/goutte-sang.png"), default;
}
iframe {
  cursor: url("./assets/goutte-sang.png"), default;
}
.vac-perf {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.vac-perf img {
max-width: 400px;
margin: 20px;
border-radius: 20px;
border: 1px solid  rgb(32, 255, 2);
}

.caption{
  font-size: 25px;
  padding: 10px;
}

.hier-video {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.hier-vid iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid rgb(32, 255, 2);
 
}

.hier-vid {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 20px;
}
.hier-vid-capt {
  max-width: 600px;
    font-size: 25px;
    color: #0000EE;
}
.vieille-fille {
  display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.vieille-fille-img {
  max-width: 400px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid rgb(32, 255, 2);
}
.vieille-fille-img-2 {
  max-height: 300px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid rgb(32, 255, 2);
}
.vieille-images-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vieille-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.vieille-caption {
  max-width: 650px;
  margin: auto;
}
.vieille-texte {
  max-width: 900px;
    padding: 50px;
    font-size: 25px;
    margin: auto;
}


.writing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.writing-titre {
  margin: 130px 0 20px 0;
}
.writing-images img {
  max-width: 400px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(32, 255, 2);
}

.writing-images {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.unbox {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.unbox-titre {
  margin: 150px 0 20px 0;
}
.unbox-imgs img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(32, 255, 2);
}
.unbox-imgs img:nth-child(2) {
height: 300px;
}
.unbox-imgs {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.unbox-text {
  max-width: 800px;
    padding: 0 0 10px;
    font-size: 25px;
    margin: auto;
}

.tablecloth {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.tablecloth-titre {
  margin: 150px 0 20px 0;
}
.tablecloth-imgs img {
  max-width: 300px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(32, 255, 2);
}

.tablecloth-imgs {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tablecloth-text {
  max-width: 800px;
  padding: 0 0 30px;
  font-size: 25px;
  margin: auto;
}

.moyenne {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.moyenne-titre {
  margin: 150px 0 10px 0;
}
.moyenne-imgs img {
  max-width: 330px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(32, 255, 2);
}
.moyenne-captures , .moyenne-zoom, .moyenne-space{
  display: flex;
  flex-direction: column;
}
.moyenne-captures img {
  max-width: 300px;
}
 .moyenne-zoom span, .moyenne-space span {
  text-align: center;
}
.moyenne-captures span{
text-align: center;
}
.moyenne-imgs {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.moyenne-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 25px;
  margin: auto;
}


.ep {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 70px;
}
.ep-titre {
  margin: 100px 0 20px 0;
}


.ep-text {
  max-width: 650px;
  padding: 0 0 10px;
  font-size: 25px;
  margin: auto;
}

.ep iframe {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid rgb(32, 255, 2);
  min-width: 560px;
  min-height: 320px;
}
.paintings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.painting {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 80px 20px;
}
.painting img {
  max-width: 300px
}
.painting img:hover {
  border: 1px solid rgb(32, 255, 2);
}
.painting span {
  font-size: 30px;
  padding-top: 15px;
  max-width: 300px;
  color: #FF0000;
}

.sale-info {
  font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.pubs {
  font-size: 22px;
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}
.txt-critiques {
  padding-bottom: 70px;
  display: flex;
    flex-direction: column;
}
.txt-titre {
  font-size: 45px;
  padding-bottom: 40px;
  text-align: center;
}
.txt-critiques span {
  padding-bottom: 30px;
  font-size: 30px;
}

.publi-num {
  padding-bottom: 70px;
  display: flex;
    flex-direction: column;
}

.publi-titre {
  font-size: 45px;
  padding-bottom: 40px;
  text-align: center;
}
.publi-num  span {
  padding-bottom: 30px;
  font-size: 30px;
}
.publi-num span a , .txt-critiques span a{
  text-decoration: underline;
}

$offset : -90px;
$count : 40;
$duration : 4;
$titres : #8104bf;
$titresmen: #0000EE;

@keyframes wave {
  from { transform : translateY(0);  }
  to   { transform : translateY( -80px ); }
}

@keyframes wavemiddle {
  from { transform : translateY(0); ; }
  to   { transform : translateY( -30px ); }
}
@keyframes wavesection {
  from { transform : translateY(0); ; }
  to   { transform : translateY( -40px ); }
}



.wavetext  {
   margin-top: 65px;
  //   text-align: left;
  //   margin-left: 50px;
}


.wavetext span {
  padding: 10px;
  display: inline-block;
  font-family : 'flames';
  font-size : 80px;
  animation-duration: #{$duration}s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-wave span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 50px;
  animation-duration: #{$duration}s;
  animation-name: wavesection;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.titre2-wave span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 50px;
  animation-duration: #{$duration}s;
  animation-name: wavesection;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.tititre span, .tititre2 span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 30px;
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.titre-hier span , .titre-hier2 span, .titre-hier3 span, .titre-hier4 span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 30px;
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vieille-fille span, .writing-titre span, .unbox-titre span, .tablecloth-titre span, .moyenne-titre span, .ep-titre span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 30px;
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.men1 span, .men2 span,  .men3 span,  .men4 span,  .men5 span,  .men6 span, .men7 span{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 26px;
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.men1.active span,
.men1:hover span ,
.men2.active span,
.men2:hover span ,
.men3.active span,
.men3:hover span ,
.men4.active span,
.men4:hover span ,
.men5.active span,
.men5:hover span ,
.men6.active span,
.men6:hover span ,
.men7.active span,
.men7:hover span 
{
  display: inline-block;
  font-family : "Times New Roman";
  font-size : 26px;
  animation-duration: #{$duration}s;
  animation-name: wavemiddle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color:  rgb(32, 255, 2);
  cursor: url("./assets/goutte-sang.png"), default;
}


@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
      animation-delay : 
        -#{($count - $i) * 2 * $duration / $count }s;
      // color: rgba(100+$i * 20 % 155, 10, 10+ $i * 40 % 55, 1000);
      color:  rgb(32, 255, 2);
    
  }
  .titre-wave :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: #FF0000;
      
  }
  .tititre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .tititre2 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titres;
  }
  .titre2-wave :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  #FF0000;
      
  }
  .titre-hier :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .titre-hier2 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .titre-hier3 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .titre-hier4 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .vieille-fille :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
  }
  .writing-titre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titres;
      
  }
  .unbox-titre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
      
  }
  .tablecloth-titre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
      
  }
  .moyenne-titre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color:  $titres;
      
  }
  .ep-titre :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titres;
      
  }
  .men1 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen;
      
  }
  .men2 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen;
  }
  .men3 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen;   
  }
  .men4 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen;   
  }
  .men5 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen;   
  }
  .men6 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen; 
  }
  .men7 :nth-child( #{$count}n + #{$i} ) {
    animation-delay : 
      -#{($count - $i) * 2 * $duration / $count }s;
      color: $titresmen; 
  }
}

.doc {
  border-radius: 50% !important;
}
.vacances , .hier{
  background-image: linear-gradient(
    to bottom,
    transparent 50px,
 
    transparent 0);
margin: auto auto 50px auto;
}
.titre-wave, .titre2-wave{
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    top: 20px;
    margin: 0;
}
@media only screen and (max-width: 1024px) {
  .men1 span, .men2 span,  .men3 span,  .men4 span,  .men5 span,  .men6 span, .men7 span, 
  .men1.active span,
.men1:hover span ,
.men2.active span,
.men2:hover span ,
.men3.active span,
.men3:hover span ,
.men4.active span,
.men4:hover span ,
.men5.active span,
.men5:hover span ,
.men6.active span,
.men6:hover span ,
.men7.active span,
.men7:hover span 
{
    font-size : 20px;
  }
}

@media only screen and (max-width: 900px) {
  .eug-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 110px;
  }
  .eug-background {
    width: 152%;
    position: fixed;
  }
  .eug-menu .tab {
    display: flex;
    flex-wrap: wrap;
  }
  .eug-menu {
    margin-top: 0;
  }
  .tab > * {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
  }
  .wavetext {
    text-align: center;
    width: 100%;
    margin-top: 100px;;
  }
  .wavetext span {
    font-size : 50px;
  }
  #publications {
    margin: 30px;
  }
  .modal.open {
    display: none;
}
.painting {
  width: 100%;
}
.painting img {
  max-width: 100%;
    height: auto;
    display: flex;
    align-self: center;
}
.painting span {
  align-self: center;
}
.wavetext span {
  font-size: 30px;
}
.men1 span, .men2 span,  .men3 span,  .men4 span,  .men5 span,  .men6 span, .men7 span, 
.men1.active span,
.men1:hover span ,
.men2.active span,
.men2:hover span ,
.men3.active span,
.men3:hover span ,
.men4.active span,
.men4:hover span ,
.men5.active span,
.men5:hover span ,
.men6.active span,
.men6:hover span ,
.men7.active span,
.men7:hover span 
{
  font-size : 40px;
  line-height: 90px;
}
#works {
  padding: 15px;
}
}

@media only screen and (max-width: 768px) {
  .wavetext span {
    font-size: 10vw;
  }
  .men1 span, .men2 span,  .men3 span,  .men4 span,  .men5 span,  .men6 span, .men7 span, 
.men1.active span,
.men1:hover span ,
.men2.active span,
.men2:hover span ,
.men3.active span,
.men3:hover span ,
.men4.active span,
.men4:hover span ,
.men5.active span,
.men5:hover span ,
.men6.active span,
.men6:hover span ,
.men7.active span,
.men7:hover span 
{
  font-size : 23px;
  line-height: 50px;
}
.eug-header {
  margin-bottom: 60px;
}
.titre-wave span,.titre2-wave span {
  font-size: 22px;
}
.tititre span, .tititre2 span, .titre-hier span, .titre-hier2 span, .titre-hier3 span, .titre-hier4 span, .vieille-fille span, .writing-titre span, .unbox-titre span, .tablecloth-titre span, .moyenne-titre span, .ep-titre span , .txt-titre, .publi-titre{
  font-size: 27px;
}
.titre-projet {
  padding: 50px 0px 0;
}
.vac-vid iframe , .hier-vid iframe, .ep iframe { 
  max-width: 90vw;
  max-height: 30vh;
}.caption , .hier-vid-capt, .vieille-caption, .unbox-text, .tablecloth-text, .moyenne-text {
  max-width: inherit;
  padding: 0 15px;
  font-size: 18px;
}.vac-perf img, .vieille-fille-img, 
.vieille-fille-img-2, .writing-images img, .tablecloth-imgs img , 
.moyenne-captures img, .moyenne-imgs img, .unbox-imgs img
{
  max-width: 88vw;
  max-height: 300px;
}.titre-hier , .titre-hier2, .titre-hier3, .titre-hier4 , .vieille-fille, .writing-titre, .unbox-titre, .tablecloth-titre, .moyenne-titre , .ep-titre{
  max-width: 89vw;
}.vacs-content , .hier-vid {
  margin-bottom: 120px;
}.vieille-images {
  flex-direction: column;
} .vieille-fille {
  display: block;
  padding: 0 15px 10px;
} #works {
  padding: 0;
}.vieille-texte {
  max-width: 89vw;
  padding: 0;
  font-size: 20px;
}.ep iframe {
  min-width: auto;
    min-height: auto;
}.sale-info {
  font-size: 18px;
} .txt-critiques span, .publi-num span, .painting span {
  font-size: 20px;
} .writing-images {
  flex-direction: column;
}
}